@import '../../../styles/variable';

.component {
  margin: 0.5rem 0 2rem;
}

.frame {
  display: grid;
  height: 212px;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;

  .mt_column_span3,
  .ml_row_span3,
  .mr_row_span3,
  .mb_column_span3 {
    background-color: $gray-100;
    position: relative;
    &:hover {
      background-color: $blue-200;
    }
    &.active {
      background-color: $blue-400;
    }
  }

  .mtl,
  .mtr,
  .mbl,
  .mbr {
    background-color: $gray-100;
    &.hover {
      background-color: $blue-200;
    }
    &.active {
      background-color: $blue-400;
    }
  }

  .pt,
  .pl,
  .pr,
  .pb {
    background-color: $gray-200;
    position: relative;
    &:hover {
      background-color: $blue-200;
    }
    &.active {
      background-color: $blue-400;
    }
  }

  .ptl,
  .ptr,
  .pbl,
  .pbr {
    background-color: $gray-200;
    &.hover {
      background-color: $blue-200;
    }
    &.active {
      background-color: $blue-400;
    }
  }

  .ptl,
  .pt,
  .ptr {
    border-top: 1px solid $gray-400;
  }

  .ptl,
  .pl,
  .pbl {
    border-left: 1px solid $gray-400;
  }

  .ptr,
  .pr,
  .pbr {
    border-right: 1px solid $gray-400;
  }

  .pbl,
  .pb,
  .pbr {
    border-bottom: 1px solid $gray-400;
  }

  .stick {
    z-index: 1;
    box-sizing: content-box;
    background-color: $gray-400;
    background-clip: padding-box;
    border: 4px solid transparent;
    &:hover,
    &.hover {
      border-color: $blue-100;
    }
  }

  .center {
    border: 1px dashed $gray-400;
    position: relative;
    .stick_my {
      height: 70%;
      width: 2px;
      position: absolute;
      left: calc(50% - 5px);
      top: calc(15% - 4px);
    }
    .stick_mx {
      height: 2px;
      width: 70%;
      position: absolute;
      left: calc(15% - 4px);
      top: calc(50% - 5px);
    }
    .stick_py {
      height: 36%;
      width: 2px;
      z-index: 2;
      position: absolute;
      left: calc(50% - 5px);
      top: calc(32% - 4px);
    }
    .stick_px {
      height: 2px;
      width: 36%;
      z-index: 2;
      position: absolute;
      left: calc(32% - 4px);
      top: calc(50% - 5px);
    }
  }

  .mt_column_span3,
  .mb_column_span3 {
    grid-column-start: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    .stick {
      height: 70%;
      width: 2px;
    }
  }
  .ml_row_span3,
  .mr_row_span3 {
    grid-row-start: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    .stick {
      height: 2px;
      width: 60%;
    }
  }

  .pt,
  .pb {
    display: flex;
    justify-content: center;
    align-items: center;
    .stick {
      height: 70%;
      width: 2px;
    }
  }
  .pl,
  .pr {
    display: flex;
    align-items: center;
    justify-content: center;
    .stick {
      height: 2px;
      width: 60%;
    }
  }

  .mt_value,
  .mb_value,
  .pt_value,
  .pb_value {
    color: $gray-600;
    font-family: $font-mono;
    position: absolute;
    top: 4px;
    left: 6px;
  }

  .ml_value,
  .mr_value,
  .pl_value,
  .pr_value {
    color: $gray-600;
    font-family: $font-mono;
    position: absolute;
    top: 6px;
    left: 5px;
    writing-mode: vertical-lr;
  }

  .mb_value,
  .pb_value {
    left: auto;
    right: 6px;
  }
  .ml_value,
  .pl_value {
    top: auto;
    bottom: 6px;
  }
}
