@import '../../../styles/variable';

.component {
  border-top: 1px solid $gray-200;
  padding: 1rem 0;
  cursor: pointer;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields {
  flex-grow: 1;
}

.farm {
  flex-grow: 1;
  width: 100px;
  height: 100px;
  position: relative;
}

.borderBottom {
  position: absolute;
  top: 75px;
  left: 0;
  border-bottom: 25px solid #999;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 50px;
  &:hover {
  }
}
.borderTop {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 25px solid #666;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 50px;
}
.borderLeft {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 25px solid #aaa;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  height: 50px;
  width: 0;
}
.borderRight {
  position: absolute;
  top: 0;
  left: 75px;
  border-right: 25px solid #ccc;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  height: 50px;
  width: 0;
}
