@import '../../styles/variable';

$gray400: #a0aec0;
$teal500: #319795;

.variants {
  font-family: $font-mono;
  @include space-bteween-y();
}

.screenVariants,
.stateVariants,
.listVariants,
.customVariants {
  @include space-bteween-x(0.75rem);
}

.option {
  color: $gray-400;
  cursor: pointer;
  display: inline-block;
  &:hover {
    @include linelink($gray-400);
  }
  &.already {
    color: $twc-cyan-700;
    &:hover {
      @include linelink($twc-cyan-700);
    }
  }
  &.active {
    color: $pink-500;
    @include linelink($pink-500);
  }
}
