$gray-50: #f7fafc;
$gray-100: #edf2f7;
$gray-200: #e2e8f0;
$gray-400: #a0aec0;
$teal-500: #319795;
$pink-500: #d53f8c;
$blue-200: #90cdf4;
$blue-400: #4299e1;

$twc-cyan-700: #0e7490;
$twc-cyan-500: #06b6d4;
$link: $twc-cyan-700;

$fontsize: 14px;
$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
$font-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// https://blog.teamtreehouse.com/a-better-clearfix-with-sass
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin title-text {
  font-size: 20px;
  font-weight: 700;
  color: $white;
}

@mixin title-text-b {
  font-size: 24px;
  font-weight: 700;
  color: $white;
  line-height: 74px;
}

@mixin text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Requires inline-block or block
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// https://getbootstrap.com/docs/4.3/utilities/stretched-link/
// https://github.com/twbs/bootstrap/blob/master/scss/utilities/_stretched-link.scss
@mixin stretched-link() {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: rgba(0, 0, 0, 0);
  }
}

@mixin split-line($prefix, $color) {
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
    left: $prefix;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: 1px solid $color;
  }
}

@mixin active-color() {
  transition: background-color 0.3s;
  &:active {
    background-color: #f0f0f0;
  }
}

@mixin linelink($color: $link) {
  color: $color;
  text-decoration: none;
  font-weight: 500;
  box-shadow: inset 0 -0.125em 0 0 #fff, inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
}

@mixin space-bteween-y($space: 0.5rem) {
  & > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(#{$space} * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(#{$space} * var(--tw-space-y-reverse));
  }
}

@mixin space-bteween-x($space: 0.5rem) {
  & > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(#{$space} * calc(1 - var(--tw-space-x-reverse)));
    margin-right: calc(#{$space} * var(--tw-space-x-reverse));
  }
}
