@import 'sanitize';
@import 'variable';
@import 'chrome-tabs/chrome-tabs';
@import 'chrome-tabs/chrome-tabs-dark-theme';

$positions: static, relative, absolute, fixed, sticky !default;
@each $position in $positions {
  .pos-#{$position} {
    position: $position !important;
  }
}

$preset-displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
@each $value in $preset-displays {
  .dis-#{$value} {
    display: $value !important;
  }
}

$preset-sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
);
@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $preset-sizes {
    .#{$abbrev}#{$size} {
      #{$prop}: $length !important;
    }
  }
}

$spaces: (
  5: 5px,
  10: 10px,
  20: 20px,
  40: 40px,
  5v: 5vw,
  10v: 10vw,
  20v: 20vw,
  40v: 40vw,
  1r: 1rem,
  2r: 2rem,
  3r: 3rem,
  4r: 4rem,
  5r: 5rem,
);
$space-props: (
  margin: mg,
  margin-top: mgt,
  margin-bottom: mgb,
  margin-left: mgl,
  margin-right: mgr,
  padding: pd,
  padding-top: pdt,
  padding-bottom: pdb,
  padding-left: pdl,
  padding-right: pdr,
);
@each $prop, $abbrev in $space-props {
  @each $space, $value in $spaces {
    .#{$abbrev}#{$space} {
      #{$prop}: $value !important;
    }
  }
}

.tac {
  text-align: center;
}
.hide {
  visibility: hidden;
}
.hide-im {
  visibility: hidden !important;
}
.curpnt {
  cursor: pointer;
}
.curdef {
  cursor: default;
}
.stretched-link {
  @include stretched-link();
}

html,
body {
  font-family: $font-sans;
  font-size: $fontsize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background: $body;
  line-height: 1.6;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
}

pre,
code {
  font-family: $font-mono;
  letter-spacing: -0.03em;
}

// @media (prefers-color-scheme: dark) {
//   html,body {
//     background: #0e0c0a;
//   }
// }

.prose a {
  @include linelink();
}

html {
  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  *::-webkit-scrollbar:vertical {
    width: 16px;
  }
  *::-webkit-scrollbar:horizontal {
    height: 16px;
  }

  *::-webkit-scrollbar-button,
  *::-webkit-scrollbar-corner {
    display: none;
  }

  *::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #fff;

    &:hover {
      background: #fff; //#f9f9f9;
      border-color: #fff; //#e1e1e1;
    }

    &:vertical {
      border-width: 0 0 0 1px;
    }

    &:vertical:corner-present {
      border-width: 0 0 1px 1px;
      border-radius: 0 0 0 2px;
    }

    &:horizontal {
      border-width: 1px 1px 0 1px;
      border-radius: 2px 2px 0 0;
    }
  }

  *::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #ccc;
    background-clip: padding-box;
    border: 5px solid rgba(black, 0);
    border-radius: 10px;

    &:hover,
    &:active {
      background-color: #999;
      border-width: 4px;
    }
  }
}
