.components {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  flex: 0 0 auto;
  .title {
    font-size: 16px;
    padding: 6px;
  }
}

.controllers {
  background-color: white;
}
