@import '../styles/variable';

.imageItem {
  position: relative;
  &:hover {
    .removeBtn {
      display: block;
    }
  }
  .removeBtn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
}
