@import '../styles/variable';

.spinner {
  text-align: center;
  height: 50px;
  margin-top: 10px;
  & > span {
    display: block;
    margin: 0 auto;
  }
}

.pwdright {
  svg {
    cursor: pointer;
  }
}

.output {
  white-space: pre;
  overflow: auto;
}

.undraw {
  width: 400px;
  height: 400px;
}

.templates {
  a {
    color: $gray-400;
    @include linelink();
  }
}
