@import '../styles/variable';

.wapper {
  width: 100%;
  display: flex;
  align-items: center;
  &:hover {
    .doclink {
      visibility: visible;
    }
  }
}

.doclink {
  visibility: hidden;
}

.select {
  flex-grow: 1;
}

.groupStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groupBadgeStyles {
  background-color: #ebecf0;
  border-radius: 2em;
  color: #172b4d;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  min-width: 1px;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
}

.colorGroup {
  & > div > div:nth-child(2) {
    display: flex;
    padding: 0 2px;
  }
  .colorOption {
    flex-basis: 100%;

    // https://stackoverflow.com/a/471538
    text-indent: 400%;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 0px 3px 1px $teal-500;
      z-index: 1;
    }

    & > div {
      cursor: pointer;
      background-color: transparent !important;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin: 6px 6px 4px;
  & > svg {
    cursor: pointer;
    &:hover {
      background-color: $gray-400;
    }
  }
}
