.tabbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #dee1e6; // #F7F7F7
  padding: 4px 4px 0;
}

.tab {
  width: 200px;
  -webkit-app-region: no-drag;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
  &.front {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.maintab {
  :global(.chrome-tab-favicon) {
    background-image: url(../styles/images/dailymotion-brands.svg);
  }
}

.plus {
  width: 30px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
  .button {
    color: #5f6368;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    &:hover {
      background: #c7cacf;
    }
    &:active {
      background: #b2b4b8;
    }
  }
  .minButton {
    grid-column: 1;
  }
  .maxButton {
    grid-column: 2;
  }
  .closeButton {
    grid-column: 3;
    &:hover {
      background: #e81123 !important;
    }
    &:active {
      background: #f1707a !important;
    }
    &:active img {
      filter: invert(1);
    }
  }
  .restoreButton {
    grid-column: 2;
    display: none !important;
  }
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  .controls .button > img {
    width: 10px;
    height: 10px;
  }
}

:global(.maximized) {
  .tabbar {
    padding: 0;
    height: 34px;
  }

  .windowTitle {
    margin-left: 12px;
  }

  .restoreButton {
    display: flex !important;
  }

  .maxButton {
    display: none;
  }
}

.menu {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 20px !important;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  color: #515253;
}
@media (hover: hover) {
  .menu:hover {
    background-color: #e8eaed;
  }
  .menu:hover:active {
    background-color: #dadce0;
  }
}
@media not all and (hover: hover) {
  .menu:active {
    background-color: #dadce0;
  }
}
@media (hover: hover) {
  :global(.chrome-tab:not([active])) .menu:not(:hover):not(:active) {
    opacity: 0.8;
  }
}
:global(.chrome-tab[is-smaller]) .menu {
  margin-left: auto;
}
:global(.chrome-tab[is-mini]:not([active])) .menu {
  display: none;
}
:global(.chrome-tab[is-mini][active]) .menu {
  margin-left: auto;
  margin-right: auto;
}
