@import '../styles/variable';

.topbar {
  background-color: $gray-50;
  height: 42px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
}

.output {
  white-space: pre;
  overflow: auto;
}

.breadcrumb {
  font-family: $font-mono;
  .target {
    display: none;
    &:hover .codefile {
      display: inline-block;
    }
  }
}
