msvs_version=2017

# special case, consider use this config replace electron-rebuild
# https://www.electronjs.org/docs/tutorial/using-native-node-modules#using-npm
# runtime=electron
# target=11.1.1
# arch=x64
# target_arch=x64
