msvs_version=2017

# 不使用 electron-builder install-app-deps/electron-rebuild, 直接使用npm/yarn install的话需要以下配置:
# https://www.electronjs.org/docs/tutorial/using-native-node-modules#using-npm
target=12.0.15 # Electron's version.
# The architecture of Electron, see https://electronjs.org/docs/tutorial/support#supported-platforms
arch=x64
target_arch=x64
# Download headers for Electron.
disturl=https://electronjs.org/headers
# Tell node-pre-gyp that we are building for Electron.
runtime=electron
# Tell node-pre-gyp to build module from source code.
build_from_source=true
# Install all dependencies, and store cache to ~/.electron-gyp.
cache=~/.electron-gyp
