@import './styles/variable';

.main {
  height: calc(100vh - 46px);
  margin-top: 46px;
  overflow-y: auto;
  background-color: $white;

  .centerWapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 46px -34px);
  }
}

:global(.maximized) {
  .main {
    height: calc(100vh - 34px);
    margin-top: 34px;
  }
}
