@import './styles/variable';

.main {
  height: calc(100vh - 46px);
  margin-top: 46px;
  overflow-y: auto;
  background-color: $white;
}

:global(.maximized) {
  .main {
    height: calc(100vh - 34px);
    margin-top: 34px;
  }
}
