@import './styles/variable';

.home {
  background-color: $white;
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  .project {
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    transition: box-shadow 0.2s ease-in-out;
    .content {
      padding: 6px 0 8px 12px;
      .name {
        line-height: 26px;
      }
      sub {
        color: #718096;
      }
    }
    .pattern {
      height: 10rem;
      // https://www.magicpattern.design/tools/css-backgrounds
      background-color: #e5e5f7;
      opacity: 0.4;
      background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#444cf7 4px, transparent 4px) 0 -2px, linear-gradient(90deg, #444cf7 4px, #e5e5f7 4px) -2px 0;
      background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
      background-position: 6px 8px;
    }
    &:hover {
      box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.06); // chakra Shadow md*2
    }
    &:active {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); // chakra Shadow md
    }
  }
}
