@import './styles/variable';

.main {
  display: flex;
  height: calc(100vh - 89px); // 46 + 42 + 1
}

body.maximized {
  .main {
    height: calc(100vh - 77px); // 34 + 42 + 1
  }
}

.controllers {
  flex: 0 0 200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  position: relative;
}

.output {
  white-space: pre;
  overflow: auto;
  width: 70%;
  margin-top: 20px;
}

.listitem {
  display: flex;
  align-items: center;
  & > .data,
  & > .author,
  & > .message {
    display: inline-block;
    width: 130px;
    @include ellipsis();
  }

  & > .author {
    width: 100px;
  }
  & > .message {
    width: 200px;
  }
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
