@import './styles/variable';

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 88px); // 46 + 42
}

.output {
  white-space: pre;
  overflow: auto;
  width: 70%;
  margin-top: 20px;
}
